aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
config.rpath
configure
compile
depcomp
install-sh
ltmain.sh
libtool
missing
nss-dontstalkme-*.tar.gz
nss-dontstalkme-*.tar.xz
Makefile
Makefile.in
run
stamp-*
TAGS
*.la
*.lo
*.log
*.o
*~
.deps/
.libs/
autom4te.cache/
build-aux/
m4/libtool*.m4
m4/lt*.m4
