#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

%:
	dh $@  --with autotools-dev

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- --prefix=/

override_dh_auto_install:
	dh_auto_install
	rm debian/libnss-dontstalkme/lib/*/*.la
